@import '../GlobalVariable.less';
@import '../components/HomeHeader.less';


#components-layout-demo-fixed-sider .logo {
    height: 2rem;
    background: rgba(255, 255, 255, 0.2);
    margin: 1rem;
  }
  
.site-layout .site-layout-background {
    background: @BodyBackgroundColor;
}

.ant-layout-sider{
  background-color:  @MenuBackgrundColor !important; 
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background-color: @MenuBackgrundColor !important; 
}

.ant-layout{
  background: white;
}

.menus{
  font-size: @BaseFontSize;
  color: rgba(10, 61, 98,1.0);
  text-shadow: .3125rem .125rem .625rem rgba(10, 61, 98,.8);
}

.iconf{
  font-size: @BigFontSize !important; 
}

.Menu-Item{
  margin: 1.5625rem  0 !important;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;

  .button_item{
    margin: 0.6667vw;
  }
}

.Header{
  background-color: @MenuBackgrundColor !important;
}

